
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


html,
body {
     background-color: hsl(233, 47%, 7%);
     width:100%;
     height:100%;
}

h1 {
     font-size: 30px;
     color: white;
     font-weight: bold;
}

h2 {
     font-size: 15px;
     color: rgb(160, 160, 160);
     padding-top: 20px;
     padding-bottom: 50px;
}
.center {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     background-color:hsl(244, 38%, 16%);
     border-radius: 3%;
     height: 45%;
     width: 55%;
     }

.text {
     padding-left: 10%;
     padding-right: 10%;
     padding-top: 15%;
     float:left;
     width: 50%;
} 

.normalText {
     font-size:35px;
     color: white;
     font-weight: bold;
     padding-top: 30px;
}

.insights {
     color: hsl(277, 64%, 61%);
     padding: 0px;
     margin: 0px;
}

.lists {
     display:inline-block;
     color: white;
}

.small {
     font-size:15px;
}

.large {
     font-size: 35px;
}

.image {
     height:100%;
     width:50%;
     padding-right:0px;
     border-radius: 3%;
     float: right;
     overflow:hidden;
}